<!DOCTYPE html>
<html lang="en">
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Subtask Page</title>
	<link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body >
	<div>
		<button id="backButton" onclick="window.location.href='/setTask/{{userName}}'">Back</button>
	</div>
	<div class="container">
	<div class="subTaskGroup">
		<h2>Add Subtask for {{taskName}} </h2>
		<h4><u>Estimated Total Time:</u> {{time}} Min </h3>
		<h4>List of SubTask</h4>
		{{#each subTask}}
		<form action="/todoSubTask/{{userName}}/{{subTaskName}}" class="add_subtask"> 
			<input  type="hidden" value={{subTaskTime}} name="subTaskTime">
			<input  type="hidden" value={{subTaskName}} name="subTaskName">
			<input  type="hidden" value={{taskName}} name="taskName">
			<button type="submit" >{{subTaskName}}</button>
		</form>
		{{/each}}
		<br>
		<h3>Add SubTask</h3>
		<form action="/storeSubTask">
			
			<div>
				Subtask Name:
				<input type="text" id="textInput" name="subTaskName">
			</div>
			<div>
				Estimated Time:
				<input type="number" id="textInput" name="subTaskTime">
			</div>
			<input class="taskTimeElement" type="hidden" value={{userName}} name="userName">
			<input class="taskTimeElement" type="hidden" value={{taskName}} name="taskName">
			<p>
			  <button type="submit" id="clickMe" class="add">Add</button>
			  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</p>
		</form>
	</div>
	</div>
	<div>
		<nav class="mobile-nav">
		
		<a href="/"><div class="nav-item">
			<img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/3521175/home.svg' alt=''>
			<p>Home</p>
			</div></a>
		
			<a href="/setTask/{{userName}}"><div class="nav-item">
			<img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/3521175/menu.svg' alt=''>
			<p>Task</p>
			</div></a>
		</nav>
  </div> 
  </body>
</html>  